.breadcrumbs {
	margin-bottom: 24px;
}
.breadcrumbs_list {
	margin: 0;
	padding: 0;
	font-family: 'elektra_light_proregular';
	font-size: 0;
	list-style: none;

}
.breadcrumbs_item {
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
}
.breadcrumbs_item:before {
	content: '>';
	display: inline-block;
	margin-right: 5px;
	margin-left:  5px;
	font-size: 11px;
	line-height: 15px;
	color: #5c7b98;
}
.breadcrumbs_item:first-child:before {
	display: none;
}
.breadcrumbs_item-link {
	color: #00b9fe;	
}
.breadcrumbs_item-active .breadcrumbs_item-link{
	text-decoration: none;
	color: #5c7b98;
}