.page_footer {
	min-width: 1000px;
	background: url(../img/bg.png) repeat;
}
.page_footer .container {
	position: relative;
	min-height: 173px;
	padding-top: 55px;
	text-align: center;
}

.footer_logo {
	position: absolute;
	top: 100px;
	left: 0;
}
.footer_logo-link {
	width: 100%;
	height: 100%;
}

.footer_logo-caption {
	position: absolute;
	left: -9999px;
}

.footer_menu_groups {
	display: inline-block;
	color: #ffffff;
	font-size: 0;

}
.menu_group {
	display: inline-block;
	font-size: 15px;
	line-height: 25px;
	margin-left: 72px;
	text-align: left;
}
.menu_group:first-child {
	margin-left: 0;
}

.menu_group-heading {
	font-family: 'elektra_light_probold';
	line-height: 26px;

}
.menu_group-list{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'elektra_light_proregular';
}
.menu_group-link {
	color: #ffffff;
}

.footer_socmedia{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -43px;
}



/* -СОЦ.ИКОНКИ- */


.markets_app {
	margin: 0 0 28px 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.market_app-item {
	width: 90px;
	height: 32px;
	display: inline-block;
}
.market_app-item:first-child {
	margin-right: 5px;
}
.market_app-item-link {
	width: 100%;
	height: 100%;
	display: block;
}
.market_app-item-link:hover {
	box-shadow: inset 0 4px 10px 0px #274262;
}

/* иконки соцсетей на заднем фоне */
.market_app-item-apple {
  background: url(../img/appstore.png) 50% 50% no-repeat;
}
.market_app-item-google {
  background: url(../img/googleplay.png) 50% 50% no-repeat;
}

.footer_socmedia-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: left;
}
.footer_socmedia-item {
	width: 37px;
	height: 36px;
	margin-left: 16px;
	display: inline-block;
}
.footer_socmedia-item:first-child {
	margin-left: 0;
}
.footer_socmedia-item-link {
	width: 100%;
	height: 100%;
	display: block;
	box-shadow: 0 4px 10px 2px #274262;
}
.footer_socmedia-item-link:hover {
	box-shadow: inset 0 4px 10px 0px #274262;
}

/* иконки соцсетей на заднем фоне */
.footer_socmedia-item-vk {
  background: url(../img/soc_icon_vk.png) 50% 50% no-repeat;
}
.footer_socmedia-item-tw {
  background: url(../img/soc_icon_tw.png) 50% 50% no-repeat;
}
.footer_socmedia-item-f {
  background: url(../img/soc_icon_f.png) 50% 50% no-repeat;
}