.header_part_first {
	/*position: relative;*/
	padding: 10px 0 7px 0;
	background: #41606d;
	font-family: 'elektra_light_proregular';
	color: #ffffff;
}


.header_socmedia{
	width: 25%;
	float: left;
}
.header_socmedia-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.header_socmedia-item {
	width: 22px;
	height: 21px;
	margin-right: 10px;
	display: inline-block;
}
.header_socmedia-item-link {
	width: 100%;
	height: 100%;
	display: block;
}
/* иконки соцсетей на заднем фоне */
.header_socmedia-item_vk {
  background: url(../img/soc_icon_vk.png) 50% 50% no-repeat;
  background-size: 100%;
}
.header_socmedia-item_tw {
  background: url(../img/soc_icon_tw.png) 50% 50% no-repeat;
  background-size: 100%;
}
.header_socmedia-item_f {
  background: url(../img/soc_icon_f.png) 50% 50% no-repeat;
  background-size: 100%;
}

.header_addresses_shops{
	width: 50%;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	
}
.addresses_shops-link{
	padding-left: 26px;
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	background: url(../img/pointmap.png) 0 center no-repeat;
}

.header_tel {
	width: 25%;
	float: right;
	font-size: 25px;
	text-align: right;
	line-height: 100%;
}
.header_tel-block {
	display: block;
	text-decoration: none;
	color: #ffffff;
	cursor: auto;
}
.header_tel-code {
	font-family: 'elektra_light_probold';
	font-size: 15px;
	color: #00b9fe;
}


.header_part_second {
	min-height: 98px;
	
	background: rgb(217,228,239); /* Old browsers */

	background: -moz-linear-gradient(left, rgba(217,228,239,1) 0%, rgba(240,245,249,1) 50%, rgba(217,228,239,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(217,228,239,1)), color-stop(50%,rgba(240,245,249,1)), color-stop(100%,rgba(217,228,239,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left, rgba(217,228,239,1) 0%,rgba(240,245,249,1) 50%,rgba(217,228,239,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left, rgba(217,228,239,1) 0%,rgba(240,245,249,1) 50%,rgba(217,228,239,1) 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left, rgba(217,228,239,1) 0%,rgba(240,245,249,1) 50%,rgba(217,228,239,1) 100%); /* IE10+ */

	background: linear-gradient(to right, rgba(217,228,239,1) 0%,rgba(240,245,249,1) 50%,rgba(217,228,239,1) 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4ef', endColorstr='#d9e4ef',GradientType=1 ); /* IE6-9 */
}
.header_part_second .container {
	position: relative;
}
.header_logo-link {
	position: absolute;
	display: block;
	top: 24px;
	/*margin-right: 60px;*/
	/*float: left;*/
}
.header_logo-img {
	max-width: 199px;
	max-height: 57px;
	display: block;
}
.header_logo-caption {
	position: absolute;
	top: 0;
	left: -99999px;
}
.header_search {
	/*float: left;*/
	/*margin-top: 34px;*/
	position: absolute;
	top: 34px;
	left: 260px;
	font-size: 0;
}
.search-input {
	width: 239px;
	padding: 8px 10px;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	vertical-align: top;
	background: #ffffff;
	border: 1px solid #dce6f0;
	border-right: none;
}
.seach-button {
	display: inline-block;
	width: 80px;
	height: 35px;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 17px;
	line-height: 100%;
	vertical-align: top;
	background: #00b9fe;
	border: 1px solid #00b9fe;
}

.header_part_third {
	background: #f7f7f7;
	border-bottom: 1px solid #e3e3e3;
	box-shadow: 0 1px 0 0 #f5f5f5;
}