body  {
	background-color: #ffffff;
}

html, body {
  height: 100%;
}

/* прибиваем footer к низу страницы */
.wrap {
  min-width: 1000px;
  min-height: 100%;
  height: auto!important;
  height: 100%;
  margin-bottom: -220px;
}
.wrap:after {
  height: 220px;
  display: block;
  content: "";
}

.container {
	width: 1000px;
	margin: 0 auto;
}
/* распорка */
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
	clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.content {
  margin: 25px 0 70px 0;
}