body {
  /* стили для текста сайта указаны в UI_G.psd  */
  font-family: 'fira_sanslight';
  color: #4a545d;

	background-color: #f9fafb;
	background-image: url("../img/pattern.png");
	background-repeat: repeat;
}

html, body {
  height: 100%;
}

/* прибиваем footer к низу страницы */
.wrap {
  min-height: 100%;
  height: auto!important;
  position: relative;
  overflow: hidden;
}
.wrap:after {
  height: 80px;
  display: block;
  content: "";
}


/* --ХЭДЕР-- */
.it-header {
	min-height: 119px;
}
/* линия градиентом */
.line {
	background: #eff3f7;
	background-image:
  -webkit-gradient(linear, 0 100%, 0 0, from(rgb(28,102,122)), color-stop(0, rgb(246,250,254)), color-stop(0, rgb(216,216,216)), color-stop(0, rgb(242,246,250)), color-stop(0.28, rgb(135,174,186)), color-stop(0.48, rgb(28,102,122)), color-stop(0.71, rgb(135,174,186)), to(rgb(242,246,250)));
  background-image:
  -webkit-linear-gradient(90deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image:
  -moz-linear-gradient(90deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image:
  -o-linear-gradient(90deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-image:
  linear-gradient(90deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
  background-size: 1200px 3px;
  background-repeat: no-repeat;
}
.it-header {
	background-position: center bottom;
}
.container-header {
	width: 1200px; 
	margin: 0 auto;
}

/* абсолютно позиционируем логотип */
.logo {
	position: absolute;
	top: 37px;
	left: 0;
}


/* --ОСНОВНОЙ КОНТЕНТ-- */
.container-body {
  width: 960px;
  margin: 40px auto 38px;
}
/* распорка */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
	clear: both;
}


/* -МЕНЮ- */
.menu {
  width: 250px;
  float: left;
  margin-bottom: 25px;
  font-family: 'fira_sansbook';
}
.menu-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  background: #eff3f7;
  border-radius: 4px;
}
.menu-link {
  display: block;
  margin: 0 10px -2px 10px;
  padding: 20px 16px;

  font-size: 21px;
  color: #959aa8;
  text-decoration: none;
  
  border-bottom: 2px solid #3ba8c0;
  
}
.menu-link:hover {
  margin: 0 10px -2px 10px;
  color: #3ba8c0;
  border-bottom: 2px solid #3ba8c0;
}
.menu-link:active {
  font-size: 23px;
  color: #fff;
  background: #3ba8c0;
  
}



/* -МЕНЯЮЩИЙСЯ КОНТЕНТ- */
.varying-content {
  width: 650px;
  float: right;
}


/* -КОНТАКТЫ- */
.contacts {
  width: 250px;
  float: left;
}
.contacts {
  width: 250px;
  overflow: hidden;

  background: #3ba8c0;
  border-radius: 4px;
}
.contacts-title {
  padding: 6px 21px 2px 19px;
  font-size: 21px;
  color: #fbfcfd;
}
.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts-link {
  display: block;
  padding: 6px 5px 7px 80px;
  text-decoration: none;
  color: #ffffff; 
}
.contacts-link:hover {
  text-decoration: underline;
}
.mail {
  background: #41b9d4 url(../img/icon_mail.png) 42px center no-repeat;
}
.telephon {
  background: #48cbe8 url(../img/icon_tel.png) 42px center no-repeat;
}
.skype {
  background: #51daf8 url(../img/icon_skype.png) 42px center no-repeat;
}


/* -СОЦ.ИКОНКИ- */
.socmedia {
  min-width: 260px;
	position: absolute;
	top: 36px;
	right: 0;
}
.socmedia-list {
	margin: 0;
	padding: 0;
	list-style: none;
  font-size: 0;
}
.socmedia-item {
  width: 47px;
  height: 47px;
  display: inline-block;
}
.socmedia-item:not(:last-child) {
	margin-right: 24px;
}
.socmedia-link {
  width: 100%;
  height: 100%;
  display: block; 
}
.vk {
  background: url(../img/s-vk.png) 50% 50% no-repeat;
}
.tw {
  background: url(../img/s-tw.png) 50% 50% no-repeat;
}
.f {
  background: url(../img/s-f.png) 50% 50% no-repeat;
}
.g {
  background: url(../img/s-g.png) 50% 50% no-repeat;
}
.vk:hover {
  background: url(../img/s-vkhover.png) 50% 50% no-repeat;
}
.tw:hover {
  background: url(../img/s-twhover.png) 50% 50% no-repeat;
}
.f:hover {
  background: url(../img/s-fhover.png) 50% 50% no-repeat;
}
.g:hover {
  background: url(../img/s-ghover.png) 50% 50% no-repeat;
}

/* --ФУТЕР-- */
.it-footer {
  width: 100%;
	height: 80px;
  margin-top: -80px;
  background-position: center top;
 }
.container-footer {
  width: 960px;
	margin: 0 auto;
}
.button-authorization {
  width: 100px;
  position: relative;
  bottom: -23px;
  left: 31px;

  font-family: 'fira_sansbook';
  font-size: 16px;
  color: #4a545d;
}
.button-authorization .login {
  height: 35px;
  display: inline-block;
  padding-left: 25px;

  vertical-align: middle;
  line-height: 35px;
  text-decoration: none;
  color: #4a545d;

  background: url(../img/lockclosed.png) left center no-repeat;

}
.button-authorization .logout {
  display: none;
  background: url(../img/lockopen.png) left center no-repeat;
}
.copyright {
  margin: 0 150px;
  padding-top: 0;

  text-align: center;
  font-size: 13px;
}