body  {
	background-color: #ffffff;
}

html, body {
  height: 100%;
}

/* прибиваем footer к низу страницы */
.wrap {
  min-height: 100%;
  height: auto!important;
  position: relative;
  overflow: hidden;
}
.wrap:after {
  height: 220px;
  display: block;
  content: "";
}

.container {
	width: 1000px;
	margin: 0 auto;
}
/* распорка */
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
	clear: both;
}