.nav-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-size: 0;
	height: 40px;
	overflow: hidden;
	font-family: 'elektra_light_proregular';
}
.nav-item {
	display: inline-block;
	margin-right: -17px;
	padding: 0;
	background-image: url(../img/bg/nav_bg_norm.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.nav-item:first-child {
	background: none;
}
.nav-item-link {
	display: block;
	margin: 0 0 0 16px; 
	padding: 12px 26px 12px 14px;
	font-size: 15px;
	line-height: 100%;
	color: #5c7b98;
	text-decoration: none;
	background: #f7f7f7; 
}
.nav-item:first-child .nav-item-link {
	padding-left: 7px;
}

.nav-item-active {
	background-image: url(../img/bg/nav_bg_active.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.nav-item-active .nav-item-link {
	display: block;
	background: #00b9fe;
	color: #f7f7f7;
}
.nav-item:hover {
	background-image: url(../img/bg/nav_bg_hover.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.nav-item:hover .nav-item-link{
	background-color: #dce6f0;
	color: #5c7b98;
	background-image: url(../img/bg/nav_bg_norm.png);
	background-position: right 0;
	background-repeat: no-repeat;
}
.nav-item-active .nav-item-link {
	background-color: #00b9fe;
	background-image: url(../img/bg/nav_bg_norm.png);
	background-position: right 0;
	background-repeat: no-repeat;
}