.product_details {
	float: left;
}
.product_details-title {
	margin-bottom: 28px;
	font-family: 'elektra_light_probold';
	font-size: 25px;
	line-height: 20px;
	color: #00b9fe;
}
.product_details-table {
	width: 443px;
	font-family: 'elektra_light_proregular';
	font-size: 15px;
	line-height: 100%;
	color: #5c7b98;
	border-collapse: collapse;
	border-spacing: 0;
}
.product_details-table tr:nth-child(odd) {
	background: #ffffff;
}
.product_details-table tr:nth-child(even) {
	background: #eef2f4;
}
.product_details-table td {
	padding: 7px 0 6px 10px ;