.product_slideshow {
	float: left;
	width: 298px;
	margin-right: 25px;
	font-size: 0;	
}
.product_slideshow-display {
	position: relative;
	width: 100%;
	height: 238px;
	margin: 8px 0 8px 0;
	overflow: hidden;
}
.product_slideshow-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.product_slides {
	position: relative;
	padding: 0 28px 0 28px;
	width: 243px;
	height: 75px;
	overflow: hidden;
}
.product_slides-link {
	display: block;
	width: 75px;
	height: 75px;
	overflow: hidden;
}
.product_slides-pic {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.product_slides .bx-wrapper {
	border: none;
	box-shadow: none;
}
.product_slides a.bx-prev,
.product_slides a.bx-next {
	position: absolute;
	display: block;
	font-size: 15px;
	background: url(../img/next.png) center center no-repeat;
}
.product_slides a.bx-prev {
	top: 50%;
	left: -30px;
	margin-top: -17px;
	background: url(../img/prev.png) center center no-repeat;
}
.product_slides a.bx-prev:hover {
	top: 50%;
	left: -30px;
	margin-top: -17px;
	background: url(../img/btn_prev_hover.png) center center no-repeat;
}
.product_slides a.bx-next {
	top: 50%;
	right: -30px;
	margin-top: -17px;
	background: url(../img/next.png) center center no-repeat;
}
.product_slides a.bx-next:hover {
	top: 50%;
	right: -30px;
	margin-top: -17px;
	background: url(../img/btn_next_hover.png) center center no-repeat;
}