block nav
	-var selected = 'Планшеты';
	include ../common/navigate.jade

extends ../layouts/main_layout.jade

block breadcrumbs
	-var selected = 'iPad Air Wi-Fi + Cellular 1 28GB - Silver';

block title
	title iPad Air

block content
	.container
		//- Хлебные крошки
		include ../common/breadcrumbs.jade
		section.product_info
			//- Слайдер с фото товара
			include ../common/slide.jade
			//- Характеристики товара
			include ../common/product_details.jade
		//- О магазине
		include ../common/shop_info.jade