block breadcrumbs
-var list = { 'Главная': 'index.html', 'Каталог': 'catalog.html', 'iPad Air Wi-Fi + Cellular 1 28GB - Silver': '/'};
.breadcrumbs
	ul.breadcrumbs_list
		each val, key in list
			if selected === key
				li.breadcrumbs_item.breadcrumbs_item-active
					a.breadcrumbs_item-link(href=val)= key
			else
				li.breadcrumbs_item
					a.breadcrumbs_item-link(href=val)= key