footer.page_footer
	.container
		.footer_logo
			a.footer_logo-link(href="index.html", target="_blank")
				img.footer_logo-img(src="img/logoShop2.png", alt="ЭпплShop", title="ЭпплShop")
				span.footer_logo-caption ЭпплShop


		.footer_menu_groups
			.menu_group
				.menu_group-heading О магазине
				.menu_group-body
					ul.menu_group-list
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") О нас
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Наши цены
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Наши скидки
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Акции
			.menu_group
				.menu_group-heading Каталог
				.menu_group-body
					ul.menu_group-list
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Смартфоны
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Планшеты
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Компьютеры
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Аксессуары
			.menu_group
				.menu_group-heading Контакты
				.menu_group-body
					ul.menu_group-list
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Телефоны
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Адреса
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Карта проезда
						li.menu_group-item
							a.menu_group-link(href="#", target="_blank") Обратная связь


		.footer_socmedia 
			ul.markets_app
				li.market_app-item
					a.market_app-item-link.market_app-item-apple(href="#", target="_blank") App Store
				li.market_app-item
					a.market_app-item-link.market_app-item-google(href="#", target="_blank") Google Play
			ul.footer_socmedia-list
				li.footer_socmedia-item
					a.footer_socmedia-item-link.footer_socmedia-item-vk(href="#", target="_blank") vkontakte
				li.footer_socmedia-item
					a.footer_socmedia-item-link.footer_socmedia-item-f(href="#", target="_blank") facebook
				li.footer_socmedia-item
					a.footer_socmedia-item-link.footer_socmedia-item-tw(href="#", target="_blank") twitter

// bower:js
script(src='/bower/modernizr/modernizr.js')
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/bxslider-4/dist/jquery.bxslider.js')
script(src='/bower/bxslider-4/dist/jquery.bxslider.min.js')
// endbower

script(src="js/main.js")