footer.page-footer
	.footer-container
		.footer-logo
			a.footer-logo-link
				img.footer-logo-img(href="img/", alt="ЭпплShop", title="ЭпплShop")
				span.footer-logo-caption ЭпплShop


		.footer-menu-groups
			.menu-group
				.menu-group-heading О магазине
				.menu-group-body
					ul.menu-group-list
						li.menu-group-item
							a.menu-group-link(href="#") О нас
						li.menu-group-item
							a.menu-group-link(href="#") Наши цены
						li.menu-group-item
							a.menu-group-link(href="#") Наши скидки
						li.menu-group-item
							a.menu-group-link(href="#") Акции
			.menu-group
				.menu-group-heading Каталог
				.menu-group-body
					ul.menu-group-list
						li.menu-group-item
							a.menu-group-link(href="#") Смартфоны
						li.menu-group-item
							a.menu-group-link(href="#") Планшеты
						li.menu-group-item
							a.menu-group-link(href="#") Компьютеры
						li.menu-group-item
							a.menu-group-link(href="#") Аксессуары
			.menu-group
				.menu-group-heading Контакты
				.menu-group-body
					ul.menu-group-list
						li.menu-group-item
							a.menu-group-link(href="#") Телефоны
						li.menu-group-item
							a.menu-group-link(href="#") Адреса
						li.menu-group-item
							a.menu-group-link(href="#") Карта проезда
						li.menu-group-item
							a.menu-group-link(href="#") Обратная связь


		.footer-socmedia
			ul.footer-socmedia-list
				li.footer-socmedia-item
					a.footer-socmedia-item-link.vk(href="", target="_blank") vkontakte
				li.footer-socmedia-item
					a.footer-socmedia-item-link.f(href="", target="_blank") facebook
				li.footer-socmedia-item
					a.footer-socmedia-item-link.tw(href="", target="_blank") twitter

// bower:js
script(src='/bower/modernizr/modernizr.js')
script(src='/bower/jquery/dist/jquery.js')
// endbower

script(src="js/main.js")