header.page_header
	.header_part_first
		.container
			.header_socmedia
				ul.header_socmedia-list
					li.header_socmedia-item
						a.header_socmedia-item-link.vk(href="#", target="_blank") vkontakte
					li.header_socmedia-item
						a.header_socmedia-item-link.f(href="#", target="_blank") facebook
					li.header_socmedia-item
						a.header_socmedia-item-link.tw(href="#", target="_blank") twitter
			.header_addresses_shops
				a.addresses_shops-link г.Москва, ул. Новая 246, офис 214
			.header_tel
				a.tel-block(href="tel:+79213221232")
					sup.tel-code +7 (921)
					span 322 12 32


	.header_part_second
		.container
			.header_logo
				a.header_logo-link
					img.header_logo-img(src="img/logoShop.png", alt="ЭпплShop", title="ЭпплShop")
					span.header_logo-caption ЭпплShop
			.header_search
				form#form-search.form-search(action="search", method="GET")
					input.input-search(type="text", placeholder="iMac 27 дюймов")
					input.button-search(type="submit", value="Поиск")
			.header_user_menu
				ul.user_menu-list
					li.user_menu-item
						a.user_menu-item-link(href="#") Карта проезда
						a.user_menu-item-link(href="#") История заказов
						a.user_menu-item-link.user_menu-basket(href="#") Корзина

							
	.header_part_third
		.container
			block nav