head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	block title
		title dz_02


	meta(name="description", content="")
	meta(name="keywords", content="")
	meta(name="author", content="")

	link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
	
	// bower:css
	link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
	link(rel='stylesheet', href='/bower/bxslider-4/dist/jquery.bxslider.css')
	// endbower

	link(rel="stylesheet", href="font/font.css")
	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet", href="css/header.css")
	link(rel="stylesheet", href="css/footer.css")
	link(rel="stylesheet", href="css/basket.css")
	link(rel="stylesheet", href="css/navigate.css")
	link(rel="stylesheet", href="css/breadcrumbs.css")
	link(rel="stylesheet", href="css/product_info.css")
	link(rel="stylesheet", href="css/slide.css")
	link(rel="stylesheet", href="css/product_details.css")
	link(rel="stylesheet", href="css/shop_info.css")

	script(src="bower/modernizr/modernizr.js")