head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	block title
		title dz_03


	meta(name="description", content="")
	meta(name="keywords", content="")
	meta(name="author", content="")

	link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon)

	// bower:css
	link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
	// endbower

	link(rel="stylesheet", href="css/main.css")

	script(src="bower/modernizer/modernizr.js")
	