header.page_header
	.header_part_first
		.container
			.header_socmedia
				ul.header_socmedia-list
					li.header_socmedia-item
						a.header_socmedia-item-link.header_socmedia-item_vk(href="http://vk.com/", target="_blank") vkontakte
					li.header_socmedia-item
						a.header_socmedia-item-link.header_socmedia-item_f(href="https://ru-ru.facebook.com/", target="_blank") facebook
					li.header_socmedia-item
						a.header_socmedia-item-link.header_socmedia-item_tw(href="https://twitter.com/", target="_blank") twitter
			.header_addresses_shops
				a.addresses_shops-link(href="ourshops.html") г.Москва, ул. Новая 246, офис 214
			.header_tel
				a.header_tel-block(href="tel:+79213221232")
					sup.header_tel-code +7 (921)
					span.header_tel-link  322 12 32


	.header_part_second
		.container
			a.header_logo-link(href="index.html")
				img.header_logo-img(src="img/logoShop.png", alt="ЭпплShop", title="ЭпплShop")
				span.header_logo-caption ЭпплShop
			.header_search
				form#form-search(action="search", method="GET")
					input.search-input(type="text", placeholder="iMac 27 дюймов")
					input.seach-button(type="submit", value="Поиск")
			.header_user_menu
				block basket
	.header_part_third
		.container
			block nav