block details
-var item = { 'Артикул': '42787825', 'Опция': 'включена', 'Цвет': 'серебристый', 'Размер': '1280*1245*90', 'Вес': '330г', 'Операционная система': 'IOS7', 'Встроенная память': '16ГБ', 'Диагональ экрана': '6"', 'Тип дисплея': 'Retina', 'Гарантия': '1 год' }; 
.product_details
	.product_details-title iPad Air Wi-Fi + Cellular 128GB - Silver
	table.product_details-table
		tbody.product_details-list
			each val, key in item
				tr.product_details-item
					td.product_details-paragraph= key
					td.product_details-value= val