.product-slideshow
	.product-slideshow-display
		.product-slideshow-img-wrap
			img.product-slideshow-img
	ul.product-slideshow-list
		li.product-slideshow-button
			a.product-slideshow-button-prev
		li.product-slideshow-item
			a.product-slideshow-link
				img.product-slideshow-pic(src="img/ipad_air1_350x253.jpg")
		li.product-slideshow-item
			a.product-slideshow-link
				img.product-slideshow-pic(src="img/ipad_air2_350x252.jpg")
		li.product-slideshow-item
			a.product-slideshow-link
				img.product-slideshow-pic(src="img/ipad_air3_350x280.jpg")
		li.product-slideshow-item
			a.product-slideshow-link
				img.product-slideshow-pic(src="img/ipad_air4_350x233.jpg")
		li.product-slideshow-item
			a.product-slideshow-link
				img.product-slideshow-pic(src="img/ipad_air5_350x240.jpg")
		li.product-slideshow-button
			a.product-slideshow-button-next