.product_slideshow
	.product_slideshow-display
			img.product_slideshow-img(src="img/tovar/ipad_air2.jpg")
	.product_slides
		ul.product_slides-list
			li.product_slides-item
				a.product_slides-link(href="#")
					img.product_slides-pic(src="img/tovar/ipad_air1.jpg")
			li.product_slides-item
				a.product_slides-link(href="#")
					img.product_slides-pic(src="img/tovar/ipad_air2.jpg")
			li.product_slides-item
				a.product_slides-link(href="#")
					img.product_slides-pic(src="img/tovar/ipad_air3.jpg")
			li.product_slides-item
				a.product_slides-link(href="#")
					img.product_slides-pic(src="img/tovar/ipad_air4.jpg")
			li.product_slides-item
				a.product_slides-link(href="#")
					img.product_slides-pic(src="img/tovar/ipad_air5.jpg")