.product_slideshow
	.product_slideshow-display
		.product_slideshow-img-wrap
			img.product_slideshow-img(src="img/tovar/ipad_air_1.png")
	.product_slides
		.product_slides-list-wrap
			ul.product_slides-list
				li.product_slides-item
					a.product_slides-link(href="#")
						img.product_slides-pic(src="img/tovar/ipad_air_1.png")
				li.product_slides-item
					a.product_slides-link(href="#")
						img.product_slides-pic(src="img/tovar/ipad_air_2.jpg")
				li.product_slides-item
					a.product_slides-link(href="#")
						img.product_slides-pic(src="img/tovar/ipad_air_3.jpg")
				li.product_slides-item
					a.product_slides-link(href="#")
						img.product_slides-pic(src="img/tovar/ipad_air_4.jpg")
		.product_slides-controls
			a.product_slides-controls-btn.product_slides-controls-btn_next(href="#")
			a.product_slides-controls-btn.product_slides-controls-btn_prev(href="#")