.product_slideshow
	.product_slideshow-display
		.product_slideshow-img-wrap
			img.product_slideshow-img
	ul.product_slideshow-list
		li.product_slideshow-button
			a.product_slideshow-button-prev
		li.product_slideshow-item
			a.product_slideshow-link
				img.product_slideshow-pic(src="img/ipad_air1_350x253.jpg")
		li.product_slideshow-item
			a.product_slideshow-link
				img.product_slideshow-pic(src="img/ipad_air2_350x252.jpg")
		li.product_slideshow-item
			a.product_slideshow-link
				img.product_slideshow-pic(src="img/ipad_air3_350x280.jpg")
		li.product_slideshow-item
			a.product_slideshow-link
				img.product_slideshow-pic(src="img/ipad_air4_350x233.jpg")
		li.product_slideshow-item
			a.product_slideshow-link
				img.product_slideshow-pic(src="img/ipad_air5_350x240.jpg")
		li.product_slideshow-button
			a.product_slideshow-button-next